@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #003F88;
    font-family: 'Fredoka', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.section {
    background-color: #FFD500;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
}

.title {
    font-size: 36px;
    color: #003F88;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 230px;
    object-fit: contain;
    margin-bottom: 20px;
}

.start-btn {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: white;
    background-color: #003F88;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #002f66;
}

.back{
    font-size: 28px;
    color: #ffffff;
    position: fixed;
    top: 40px;
    left: 120px;
    margin-bottom: 40px;
    text-shadow:3px 3px 3px #000000;
}

.back-button {
    position: fixed;
    top: 40px;
    left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #003F88;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.circle img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

.back-button span {
    color: #003F88;
    font-size: 16px;
}

.back-button:hover .circle {
    background-color: #ffd500;
}


@media (max-width: 1200px) {
    .section {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 90%; 
        margin-bottom: 20px;
    }

    .title {
        font-size: 30px; 
    }

    .start-btn {
        font-size: 20px; 
        padding: 10px 20px; 
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px; 
    }

    .section {
        height: auto; 
        padding: 15px; 
    }

    .image {
        height: 150px; 
    }

    .start-btn {
        font-size: 18px; 
        padding: 8px 16px; 
    }
}

@media (max-width: 360px) {
    .section {
        padding: 5px; 
    }

    .mabuhay, .mabuhay1, .mabuhay2 {
        font-size: 18px; 
    }

    .learn-btn, .use-btn, .about-btn {
        font-size: 16px; 
        padding: 6px 12px; 
    }
}
