<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>

    <!-- Link to CSS stored in the static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='cssAU/style.css') }}">

    <!-- Link to icon stored in the static folder -->
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>

<body> 
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <!-- Image source updated to be served from the static folder -->
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
            <b class="back">Back</b>
        </div>
    </div>

    <div class="description-container">
        <h2 class="project-description">Description</h2>
    </div>

    <div class="container">
        <h4 class="title">KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</h4>

        <div class="description">
            <h3 class="subtitle">History of Philippine Sign Language</h3>
            <p>The exact origins of American Sign Language (ASL) is uncertain, but it is believed to have emerged over 200 years ago through the 
                intermixing of local sign languages and French Sign Language. Although there are different sign languages used in different countries 
                or regions, some countries adopt features of ASL in their sign languages.

                In the Philippines, ASL's influence is particularly significant. It is believed by the deaf community in the Philippines that technically, 
                about 60% of Filipino Sign Language (FSL) is similar to ASL. In the past when the Philippine School for Deaf was set up, the teachers brought 
                from America taught ASL. Now other teachers in the Philippines are also teaching ASL, which has spread all over. FSL was only officially recognized 
                by the law in 2018. According to Liwanag Caldito, a founding member of the Philippine National Association of Sign Language Interpreters (PNASLI), 
                the Peace Corps' resurgence in 1974 brought American volunteers to Visayas in the Philippines. This may explain why most of ASL users in the Philippines 
                are in Region VI. Additionally, direct language contact with Americans has contributed to a higher prevalence of ASL among older generations.
                
                Most people begin learning sign language by familiarizing themselves with the manual alphabet, often referred to as fingerspelling. 
                While sign languages vary across countries, many share similar manual alphabets with slight modifications. An example of this is ASL and FSL alphabet. 
                Moreover, both manual alpbahet system uses one hand, but other countries may require two hands.</p>
        </div>

        <div class="description" id="algo">
            <h3 class="subtitle">Algorithm</h3>
            <p> <b>Random Forest algorithm</b> is a machine learning algorithm best suited for tasks like classification and regression tasks. 
                It is similar to a “forest” of multiple decision trees that work together to make and predict a final output. 
                It operates on the idea that multiple “weak learners” can combine to create a “strong learner”.
            </p>
            <p> <b>Divide-and-Conquer</b> is an algorithm design paradigm that involves breaking up a 
                larger or complex problem into simpler, non-overlapping sub-problems. Each problem is solved individually, 
                and then combines the solutions of all sub-problems to obtain the solution for the original problem.  
                Specifically, this algorithm can be divided into three stems:  Divide, Conquer, and Merge. 
                The goal of Divide is to divide the problem until no further division is possible, or that the problem is simple 
                enough to solve directly. As the divide-and-conquer algorithm may create at least two sub-problems, it may also 
                make multiple recursive calls. For Conquer, the goal is to find solutions for the subproblems independently. 
                At the last part, a solution of the larger problem is formulated by recursively merging the results from the sub-problems. 
                .
            </p>
        </div>   
        

        <div class="description" id="model">
            <h3 class="subtitle">Model</h3>
            <p>The model of the KAWAY: American Sign Language (ASL) Fingerspelling Recognition and Learning Aid System Using Random Forest utilizes 
                two algorithmic technique--Random Forest and Divide-and-Conquer to optimize the system's functionality. The Random Forest is utilize for ASL
                recognition where it uses ensemble of decisioin trees trained on subsets of data to classify hand gestures baded on the detected hand landmarks.
                Random Forest enables accurate and robust real-time ASL recognition, and this is the basis of the system's
                "Practice" and "ASL to Text" features. While the Divide-and-Conquer is applied in the Text to ASL translation to convert user inputted text into ASL
                translation. The algorithm divides the input into characters, process it independently in parallel using recursive function, and merge the results to have
                a final output. These two algorithms enable the KAWAY system to be reliable, efficient, and user-friendly platform for learning and recognizing ASL gestures.
            </p>
            
        </div>
    </div>

    <div class="team-container">
        <h2 class="team">Our Team</h2>
    </div>

    <div class="container">
        <div class="person" id="person1">
            <h4 class="role">Team Leader</h4>
            <h3>Raphael Jedidiah Borillo</h3>
            <p>Contribution: Leader, Researcher, Web Developer, Model Developer<br></p>
        </div>

        <div class="person" id="person2">
            <h4 class="role">Member</h4>
            <h3>Jann Nicole San Jose</h3>
            <p>Contribution: Researcher, Web Developer</p>
        </div>

        <div class="person" id="person3">
            <h4 class="role">Member</h4>
            <h3>Aivee Jean Varias</h3>
            <p>Contribution: Researcher, Web Developer</p>
        </div>
    </div>

    <!-- Link to JavaScript stored in the static folder -->
    <script src="{{ url_for('static', filename='cssAU/script.js') }}"></script>

</body>
</html>