<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    
    <!-- Link to the CSS file using Flask's url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='cssMAin/style.css') }}">
    
    <!-- Link to the favicon -->
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="image-container"> 
                <!-- Use url_for for the image path -->
                <img src="{{ url_for('static', filename='logoimages/logo.png') }}" alt="Image" class="responsive-img" id="animatedImage">
            </div>    

            <h1 class="away">away</h1> 
            <div class="text">
                <p class="verb">(verb) • /kaˈwaj/ [kɐˈwaɪ̯]</p>
                <p class="description">bridging barriers for the deaf and hard of hearing</p>
            </div>

            <div class="start-button-container">
                <!-- Use url_for to link to the route -->
                <a class="start-button" href="{{ url_for('learn_and_about_us') }}">Start</a> 
            </div>           
        </div>
    </div>

    <!-- Link to the JavaScript file using Flask's url_for -->
    <script src="{{ url_for('static', filename='cssMain/script.js') }}"></script>
</body>
</html>
