<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter R</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideR.gif') }}" alt="GIF of Letter R">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/R1.jpeg') }}" alt="Hand Sign R1">
        <img src="{{ url_for('static', filename='handsigns/R2.jpeg') }}" alt="Hand Sign R2">
        <img src="{{ url_for('static', filename='handsigns/R3.jpeg') }}" alt="Hand Sign R3">
        <img src="{{ url_for('static', filename='handsigns/R4.jpeg') }}" alt="Hand Sign R4">
        <img src="{{ url_for('static', filename='handsigns/R5.jpeg') }}" alt="Hand Sign R5">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter R</h3>
            <p>Hold your dominant hand, palm facing outward, with index
                and middle fingers intertwined where the middle finger
                wraps over the back of the index finger, while the rest of
                the fingers and thumb curl in.
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>
