<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter G</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideG.gif') }}" alt="gif">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/G1.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/G2.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/G3.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/G4.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/G5.jpeg') }}" alt="picture">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter G</h3>
            <p>Hold your dominant hand in a fist, palm facing sideways with knuckles lined up vertically. 
                Curl in your middle, ring, and pinky fingers while your index finger and thumb should stick
                straight out parallel to each other.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>