<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter N</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideN.gif') }}" alt="GIF of Letter N">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/N1.jpeg') }}" alt="Hand Sign N1">
        <img src="{{ url_for('static', filename='handsigns/N2.jpeg') }}" alt="Hand Sign N2">
        <img src="{{ url_for('static', filename='handsigns/N3.jpeg') }}" alt="Hand Sign N3">
        <img src="{{ url_for('static', filename='handsigns/N4.jpeg') }}" alt="Hand Sign N4">
        <img src="{{ url_for('static', filename='handsigns/N5.jpeg') }}" alt="Hand Sign N5">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter N</h3>
            <p>Hold your dominant hand in a fist, palm facing outward, 
                with the thumb tucked under the first two fingers and resting 
                on top of the ring finger. The two finger bumps resemble the letter "N." 
                Signing the letter "N" is very similar to signing the letter "M."</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>