<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter Q</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideQ.gif') }}" alt="GIF of Letter Q">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/Q1.jpeg') }}" alt="Hand Sign Q1">
        <img src="{{ url_for('static', filename='handsigns/Q2.jpeg') }}" alt="Hand Sign Q2">
        <img src="{{ url_for('static', filename='handsigns/Q3.jpeg') }}" alt="Hand Sign Q3">
        <img src="{{ url_for('static', filename='handsigns/Q4.jpeg') }}" alt="Hand Sign Q4">
        <img src="{{ url_for('static', filename='handsigns/Q5.jpeg') }}" alt="Hand Sign Q5">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter Q</h3>
            <p>The letter "Q" is signed like the letter "G" but is held upside down.
                Hold your dominant hand in a fist, palm facing the ground with knuckles
                lined up horizontally, with middle, ring, and pinky fingers curled in
                while index and thumb stick straight out parallel to each other.
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>