<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter C</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideC.gif') }}" alt="gif">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/C1.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/C2.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/C3.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/C4.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/C5.jpeg') }}" alt="picture">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter C</h3>
            <p>Curve your dominant hand, palm facing sideways, just like the letter "C." 
                The top four fingers held together make up the top curve, 
                while the thumb makes up the bottom curve.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>