<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter Y</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideY.gif') }}" alt="GIF of Letter Y">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/Y1.jpeg') }}" alt="Hand Sign Y1">
        <img src="{{ url_for('static', filename='handsigns/Y2.jpeg') }}" alt="Hand Sign Y2">
        <img src="{{ url_for('static', filename='handsigns/Y3.jpeg') }}" alt="Hand Sign Y3">
        <img src="{{ url_for('static', filename='handsigns/Y4.jpeg') }}" alt="Hand Sign Y4">
        <img src="{{ url_for('static', filename='handsigns/Y5.jpeg') }}" alt="Hand Sign Y5">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter Y</h3>
            <p>Hold your dominant hand, palm facing outward, with the thumb and pinky finger 
                standing upright while the rest of the fingers are curled in, just like
                the letter "Y".
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>
