<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter P</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideP.gif') }}" alt="GIF of Letter P">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/P1.jpeg') }}" alt="Hand Sign P1">
        <img src="{{ url_for('static', filename='handsigns/P2.jpeg') }}" alt="Hand Sign P2">
        <img src="{{ url_for('static', filename='handsigns/P3.jpeg') }}" alt="Hand Sign P3">
        <img src="{{ url_for('static', filename='handsigns/P4.jpeg') }}" alt="Hand Sign P4">
        <img src="{{ url_for('static', filename='handsigns/P5.jpeg') }}" alt="Hand Sign P5">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter P</h3>
            <p>The letter "P" is signed like the letter "K" but is held upside down. 
                Hold down your dominant hand, palm facing inward, with your index finger
                standing upright (pointing down) and middle finger standing inward creating
                a 90-degree angle between these two fingers, while the thumb rests at the base
                of the middle finger and other remaining fingers curled in.
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>
