<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter K</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideK.gif') }}" alt="GIF of Letter K">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/K1.jpeg') }}" alt="Hand Sign K1">
        <img src="{{ url_for('static', filename='handsigns/K2.jpeg') }}" alt="Hand Sign K2">
        <img src="{{ url_for('static', filename='handsigns/K3.jpeg') }}" alt="Hand Sign K3">
        <img src="{{ url_for('static', filename='handsigns/K4.jpeg') }}" alt="Hand Sign K4">
        <img src="{{ url_for('static', filename='handsigns/K5.jpeg') }}" alt="Hand Sign K5">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter K</h3>
            <p>Hold your dominant hand in a fist, palm facing outward, 
                with your index finger standing upright and middle finger pointing outward, 
                creating a 90-degree angle between these two fingers. Rest the thumb at the base 
                of the middle finger while the remaining fingers are curled in.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>