<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter E</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideE.gif') }}" alt="gif">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/E1.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/E2.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/E3.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/E4.jpeg') }}" alt="picture">
        <img src="{{ url_for('static', filename='handsigns/E5.jpeg') }}" alt="picture">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter E</h3>
            <p>Hold your dominant hand, palm facing outward, with your top four fingers
                all touching each other and tightly curved in while your thumb is also curved
                and tightly tucked into your palm.</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>
