<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssModules/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body>
    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
        </div>
        <b class="back">Back</b>
    </div>
    
    <div class="title-container">
        <h2 class="lesson">Lesson: Letter O</h2>
    </div>

    <div class="gif-container">
        <img src="{{ url_for('static', filename='ASLgif/GuideO.gif') }}" alt="GIF of Letter O">
    </div>

    <div class="letter-img">
        <img src="{{ url_for('static', filename='handsigns/O1.jpeg') }}" alt="Hand Sign O1">
        <img src="{{ url_for('static', filename='handsigns/O2.jpeg') }}" alt="Hand Sign O2">
        <img src="{{ url_for('static', filename='handsigns/O3.jpeg') }}" alt="Hand Sign O3">
        <img src="{{ url_for('static', filename='handsigns/O4.jpeg') }}" alt="Hand Sign O4">
        <img src="{{ url_for('static', filename='handsigns/O5.jpeg') }}" alt="Hand Sign O5">
    </div>

    <div class="handsign-guide">
        <div class="description" id="guide">
            <h3>Directions for Signing the Letter O</h3>
            <p>Curve your dominant hand, palm facing sideways, curving all fingers 
                and touching them to the thumb, making the shape of the letter "O."
            </p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='cssModules/script.js') }}"></script>
</body>
</html>
