<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAWAY: An American Sign Language (ASL) Recognition and Learning Aid System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssPrac/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logoimages/icon.png') }}" type="image/png">
</head>
<body> 

    <div class="back-button" onclick="history.back()">
        <div class="circle">
            <img src="{{ url_for('static', filename='logoimages/backbutton.png') }}" alt="Back Arrow">
            <b class="back">Back</b>
        </div>
    </div>
    
    <div class="container">
        <!-- Section for Easy-->
        <div class="section">
            <b class="title">Easy</b>
            <img src="{{ url_for('static', filename='logoimages/easy.png') }}" alt="easy-content" class="image">
            <a class="start-btn" href="{{ url_for('easy') }}">Start</a>
        </div>

        <!-- Section for Medium-->
        <div class="section">
            <b class="title">Medium</b>
            <img src="{{ url_for('static', filename='logoimages/medium.png') }}" alt="medium-content" class="image">
            <a class="start-btn" href="{{ url_for('medium') }}">Start</a>
        </div>

        <!-- Section for Hard-->
        <div class="section">
            <b class="title">Hard</b>
            <img src="{{ url_for('static', filename='logoimages/hard.png') }}" alt="hard-content" class="image">
            <a class="start-btn" href="{{ url_for('hard') }}">Start</a>
        </div>
    </div>

</body>
</html>